<div class = "home">
  <h2> Welcome to cafeteria management system </h2>
  <div class = "btn-container">
    <%= form_with url: "/signup", method: "get" do |form| %>
      <%= form.submit "Sign up", class: "sign-up" %>
    <% end %>

    <%= form_with url: "/signin", method: "get" do |form| %>
      <%= form.submit "Sign in", class: "sign-in" %>
    <% end %>
  </div>
</div>