<div class = "home">
  <h2> Welcome to cafeteria management system </h2>
  <div class = "btn-container">
    <button class = "user-sign-up">
      Sign up as user
    </button>
    <button class = "user-sign-in">
      Sign in as user
    </button>
  </div>

  <div class = "btn-container">
    <button class = "clerk-sign-in">
      Sign in as clerk
    </button>
  </div>

  <div class = "btn-container">
    <button class = "owner-sign-in">
      Sign in as owner
    </button>
  </div>
</div>