div.error-msg {
  color: red;
  text-align: center;
}

body {
  font-family: 'Source Sans Pro', sans-serif !important;
  margin: 0px auto !important;
  max-width: 95%;
  /* border: 1px solid !important; */
}

div.header {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

div.header div.project-name {
  font-size: 25px;
  font-weight: bold;
}

div.signedin-user {
  display: flex;
  justify-content: flex-end;
  font-size: 20px !important;
  /* border: 1px solid; */
}

div.signedin-user p {
  margin-left: 40px;
}

div.signedin-user a {
  text-decoration: none;
}