div.home {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

div.home h2 {
  font-size: 30px;
  margin: 150px 0px 50px;
  font-weight: bold;
  text-decoration: underline;
}

div.home div.btn-container {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

div.home div.btn-container input {
  margin: 0px 15px;
  padding: 20px 50px;
  font-size: 19px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}