div.menu {
  display: flex;
}

div.menu div.main-section {
  flex: 70%;
  /* border: 1px solid; */
}

div.menu div.added-items {
  /* border: 1px solid; */
  flex: 30%;
  border-radius: 20px;
  position: relative;
}

div.menu div.inside-added-items {
  border-radius: 10px;
  padding: 2px 0px 30px;
  /* border: 1px solid; */
  color: white;
  background: #102A43;
  position: sticky;
  top: 30px;
}

div.menu div.createorder-container:nth-child(1) {
  margin: 40px 20px;
  /* border: 1px solid; */
}

div.menu .buttons {
  display: flex;
}

div.menu .buttons div {
  flex: 49%;
  margin: 0px 20px;
}

div.menu div.checkout-container {
  /* margin: 0px 20px; */
  /* border: 1px solid; */
}

div.menu div.createorder-container form,
div.checkout-container form,
div.cancelorder form {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 50px;
}

div.menu .createorder-btn,
.checkout-btn,
.deleteorder-btn {
  background: rgb(143, 255, 143);
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

div.menu .deleteorder-btn {
  background: rgb(250, 139, 139);
}

div.menu h2 {
  font-size: 40px;
  margin: 40px 0px 30px 20px;
}

div.menu h3 {
  font-size: 25px;
  margin: 20px;
  width: 86%;
}

div.menu ul {
  margin: 0px 30px;
  font-size: 17px;
  display: flex;
  flex-wrap: wrap;
}

div.menu .item {
  margin: 10px;
  padding-bottom: 10px;
  /* display: flex; */
  width: 180px;
  /* border: 1px solid; */
  text-align: center;
}

div.menu .item .item-image {
  width: 100%;
  height: 90px;
  border: 1px solid;
  margin-bottom: 10px;
}

div.menu .item-name {}

div.menu div.item-desc {
  /* flex: 70%; */
}

div.menu div.item-add-btn {
  /* flex: 30%; */
  /* border: 1px solid;  */
  /* text-align: right; */
}

div.menu .menuitem-btn {
  background: rgb(143, 255, 143);
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 10px;
}

div.menu .menuitem-delete-btn {
  background: rgb(250, 139, 139);
}

div.menu .add-item {
  margin: 10px 20px;
}

div.menu .add-item div {
  display: flex;
  align-items: stretch;
}

div.menu div.first-row {
  height: 50px;
}

div.menu div.second-row {
  height: 70px;
}

div.menu .add-item input#name,
input#price {
  /* height: 30px; */
  margin: 5px 10px;
  padding: 5px 8px;
  font-size: 18px;
  width: 230px;
}

div.menu .add-item select#menu_id {
  /* height: 30px; */
  width: 180px;
  padding: 5px 8px;
  margin: 5px 10px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

div.menu .add-item textarea {
  margin: 5px 10px;
  padding: 5px 8px;
  font-size: 18px;
  width: 500px;
  /* height: 50px; */
}

div.menu .add-item input[type=submit] {
  margin: 5px 10px;
  font-size: 18px;
  width: 180px;
  cursor: pointer;
  background: #2196f3;
  border-radius: 10px;
  border: none;
}

div.menu div.orderitems-container {
  /* border: 1px solid; */
  /* margin: 20px; */
  height: 400px;
  overflow: auto;
  overflow-x: hidden;
}

div.menu div.orderitems-container li {
  border: 1px solid;
  /* display: flex; */
  justify-content: space-between;
  padding: 5px 10px;
  margin: 5px 0px;
  /* height: 35px; */
  align-items: center;
  width: 100%;
}

div.orderitems-container li div.priceAndButton {
  display: flex;
  justify-content: space-between;
}

div.menu div.orderitems-container li form {
  /* border: 1px solid; */
  height: 100%;
}

div.menu div.orderitems-container li input {
  height: 20px;
  padding: 0px 20px;
  border: none;
  background: rgb(250, 139, 139);
  border-radius: 4px;
  cursor: pointer;
}