div.user-signin {
  max-width: 400px;
  margin: 50px auto;
}

div.user-signin h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

div.user-signin div.signin-field {
  margin: 20px auto;
  width: 300px;
}

div.user-signin div.signin-field label {
  display: block;
  font-size: 19px;
  margin-bottom: 5px;
}

div.user-signin div.signin-field input {
  /* height: 30px; */
  width: 300px;
  border: none;
  border-bottom: 1px solid;
  padding: 5px 0px;
  font-size: 17px;
  box-sizing: border-box;
  outline: none;
}

div.user-signin div.signin-field input[type=submit] {
  background: #2196f3;
  color: white;
  font-size: 19px;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  margin: 30px 0px 10px;
}